body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('HIR.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
}

.progress-bar {
    position: relative; /* Para posicionar el texto del progreso */
    width: 80%;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    height: 30px; /* Ajuste de altura de la barra de progreso */
}

.progress-fill {
    display: block;
    height: 100%;
    width: 50%; /* Cambia este valor para ajustar el progreso */
    background: #f31212;
    border-radius: 20px;
}

.progress-text {
    position: absolute; /* Posición absoluta para centrar el texto */
    top: 50%; /* Centramos el texto verticalmente */
    left: 50%; /* Centramos el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    font-size: 14px;
    font-weight: bold;
    color: #000; /* Color del texto del progreso */
}

.sm a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.sm a:hover {
    color: hwb(0 0% 18%);
}
